MultidataBase/WebApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="includeDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonIDB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="includeDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getConnectionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonCD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonCD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonDT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multipleQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonCD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multipleQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multipleQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertValuesTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonIVT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertValuesTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertValuesTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateValuesTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonCD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateValuesTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateValuesTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteValuesTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonCD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteValuesTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteValuesTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>