MultidataBase/WebApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWEB" />
  <xs:element name="includeDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="includeDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMariaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="db" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMariaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMariaDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMariaDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="tipo" nillable="true" type="q1:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMariaDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="GetMariaDataUsingDataContractResult" nillable="true" type="q2:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="db" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSQLDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="tipo" nillable="true" type="q3:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="GetSQLDataUsingDataContractResult" nillable="true" type="q4:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMongoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="db" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMongoDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMongoDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMongoDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="tipo" nillable="true" type="q5:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMongoDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioWEB" minOccurs="0" name="GetMongoDataUsingDataContractResult" nillable="true" type="q6:aMariaTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>