MultidataBase/WebApp/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_includeDB_InputMessage">
    <wsdl:part name="parameters" element="tns:includeDB" />
  </wsdl:message>
  <wsdl:message name="IService1_includeDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:includeDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnections" />
  </wsdl:message>
  <wsdl:message name="IService1_getConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_createDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:createDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_createDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:createDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_checkConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:checkConnection" />
  </wsdl:message>
  <wsdl:message name="IService1_checkConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_createTable_InputMessage">
    <wsdl:part name="parameters" element="tns:createTable" />
  </wsdl:message>
  <wsdl:message name="IService1_createTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteTable_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTable" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_multipleQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:multipleQuery" />
  </wsdl:message>
  <wsdl:message name="IService1_multipleQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:multipleQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertValuesTable_InputMessage">
    <wsdl:part name="parameters" element="tns:insertValuesTable" />
  </wsdl:message>
  <wsdl:message name="IService1_insertValuesTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertValuesTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateValuesTable_InputMessage">
    <wsdl:part name="parameters" element="tns:updateValuesTable" />
  </wsdl:message>
  <wsdl:message name="IService1_updateValuesTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateValuesTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteValuesTable_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteValuesTable" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteValuesTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteValuesTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="includeDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/includeDB" message="tns:IService1_includeDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/includeDBResponse" message="tns:IService1_includeDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnections">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getConnections" message="tns:IService1_getConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getConnectionsResponse" message="tns:IService1_getConnections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/createDatabase" message="tns:IService1_createDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/createDatabaseResponse" message="tns:IService1_createDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/checkConnection" message="tns:IService1_checkConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/checkConnectionResponse" message="tns:IService1_checkConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/createTable" message="tns:IService1_createTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/createTableResponse" message="tns:IService1_createTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteTable" message="tns:IService1_deleteTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteTableResponse" message="tns:IService1_deleteTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multipleQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/multipleQuery" message="tns:IService1_multipleQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/multipleQueryResponse" message="tns:IService1_multipleQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertValuesTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertValuesTable" message="tns:IService1_insertValuesTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertValuesTableResponse" message="tns:IService1_insertValuesTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateValuesTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateValuesTable" message="tns:IService1_updateValuesTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateValuesTableResponse" message="tns:IService1_updateValuesTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteValuesTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteValuesTable" message="tns:IService1_deleteValuesTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteValuesTableResponse" message="tns:IService1_deleteValuesTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="includeDB">
      <soap:operation soapAction="http://tempuri.org/IService1/includeDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnections">
      <soap:operation soapAction="http://tempuri.org/IService1/getConnections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/createDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkConnection">
      <soap:operation soapAction="http://tempuri.org/IService1/checkConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTable">
      <soap:operation soapAction="http://tempuri.org/IService1/createTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleQuery">
      <soap:operation soapAction="http://tempuri.org/IService1/multipleQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertValuesTable">
      <soap:operation soapAction="http://tempuri.org/IService1/insertValuesTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateValuesTable">
      <soap:operation soapAction="http://tempuri.org/IService1/updateValuesTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteValuesTable">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteValuesTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:17057/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>