MultidataBase/WebApp/Service References/ReferenciaDBService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioWEB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioWEB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="aMariaTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aMariaTipo" nillable="true" type="tns:aMariaTipo" />
</xs:schema>