MultidataBase/WebApp/Service References/ReferenciaDBService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17057/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWEB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetMariaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMariaData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMariaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMariaDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMariaDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMariaDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMariaDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMariaDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSQLData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSQLData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSQLDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSQLDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMongoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMongoData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMongoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMongoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMongoDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMongoDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMongoDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMongoDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetMariaData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMariaData" message="tns:IService1_GetMariaData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMariaDataResponse" message="tns:IService1_GetMariaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMariaDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMariaDataUsingDataContract" message="tns:IService1_GetMariaDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMariaDataUsingDataContractResponse" message="tns:IService1_GetMariaDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSQLData" message="tns:IService1_GetSQLData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSQLDataResponse" message="tns:IService1_GetSQLData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSQLDataUsingDataContract" message="tns:IService1_GetSQLDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSQLDataUsingDataContractResponse" message="tns:IService1_GetSQLDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMongoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMongoData" message="tns:IService1_GetMongoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMongoDataResponse" message="tns:IService1_GetMongoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMongoDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMongoDataUsingDataContract" message="tns:IService1_GetMongoDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMongoDataUsingDataContractResponse" message="tns:IService1_GetMongoDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMariaData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMariaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMariaDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMariaDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSQLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSQLDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMongoData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMongoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMongoDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMongoDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:17057/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>